<div class="baohanh">
	{{! <div class="row">
		<h1 class="bh-heading">TẠO MÃ THÀNH CÔNG</h1>
	</div> }}
	<div class="row">
		<div class="tanbao">
			<div class="tb-card">
				<div class="qr">
					<img src="{{url}}" alt="" />
				</div>
				<div class="data">
					<span>{{idBH}}</span>
					<span>NPP <strong>Tấn Bảo</strong></span>
				</div>
			</div>
		</div>
	</div>
</div>