<div class="baohanh">
	{{! <div class="row">
		<h1 class="bh-heading">TẠO MÃ THÀNH CÔNG</h1>
	</div> }}
	<div class="row">
		<div class="tanbao">
			<canvas>
				<img src="{{url}}" alt="" />
				<span>NPP Taans Baor</span>
			</canvas>
		</div>
	</div>
</div>