body {
	font-family: "Montserrat", sans-serif;
}
.tem {
	width: 6cm;
	height: 3cm;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	/* border: 1px solid; */
	/* border-radius: 5px; */
}

.qrcode,
.data {
	flex: 1;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.data {
	text-align: center;
}
.data .id {
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
span {
	display: block;
}

.data .brand {
	font-weight: bold;
}
