<main class="main">
	<img class="logo-npp" src="/images/logo-npp.png" alt="" />
	<h1>Nhà Phân Phối <span>Tấn Bảo</span></h1>
	<p>Chuyên kinh doanh thiết bị chiếu sáng Led Duhal & Panasonic</p>
	<p>Địa chỉ: 188A, Bình Khởi, Phường 6, TP. Bến Tre</p>
	<p>Điện thoại:
		<a href="tel:+84903608033">0903.608.033</a>
		-
		<a href="tel:+84939173803">0939.173.803</a></p>

	<div class="image">
		<img src="/images/logo-duhal.png" alt="logo duhal" class="duhal" />
		<img src="/images/logo-pana.png" alt="logo pana" class="pana" />
	</div>
</main>